body{
  background-color: white;
}

img{
  width:15%;
  height:15%;
}

h4{
  text-align: right;
}

}
.menu {
  display: block;
  padding: 14px 16px;
  color: white;
  float: left;
}

.menu{
  background-color: black;
  margin: 15px;
  padding: 12px;
}

.menu a:hover{
  background-color: white;
}

.menu, .footerbar{
  background-color: black;
  margin: 10px;
  padding: 15px;
  overflow:hidden;
}

.menu, .footerbar.a{
  display:block;
  padding: 14px 17px;
  color: white;
  float: left;
}
